In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test.csv')

In [4]:
df.head(100)

    id        date  store  item
0    0  2018-01-01      1     1
1    1  2018-01-02      1     1
2    2  2018-01-03      1     1
3    3  2018-01-04      1     1
4    4  2018-01-05      1     1
..  ..         ...    ...   ...
95  95  2018-01-06      2     1
96  96  2018-01-07      2     1
97  97  2018-01-08      2     1
98  98  2018-01-09      2     1
99  99  2018-01-10      2     1

[100 rows x 4 columns]

In [5]:
df.shape

(45000, 4)

In [7]:
df = pd.read_csv('train.csv')

In [8]:
df.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [9]:
df.shape

(913000, 4)